annotated-doc==0.0.4
annotated-types==0.7.0
asttokens==3.0.1
boolean.py==5.0
click==8.3.1
coverage==7.13.4
cyclonedx-python-lib==11.6.0
decorator==5.2.1
deepdiff==8.6.1
defusedxml==0.7.1
executing==2.2.1
iniconfig==2.3.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jsonpickle==4.1.1
librt==0.7.8
license-expression==30.4.4
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mdurl==0.1.2
mypy==1.19.1
mypy_extensions==1.1.0
networkx==3.6.1
orderly-set==5.5.0
packageurl-python==0.17.6
packaging==26.0
parso==0.8.6
pathspec==1.0.4
pexpect==4.9.0
pluggy==1.6.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
py-serializable==2.1.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pytest==9.0.2
pytest-cov==7.0.0
pytest-datadir==1.8.0
python-magic==0.4.27
pyvis==0.3.2
rich==14.3.2
shellingham==1.5.4
sortedcontainers==2.4.0
stack-data==0.6.3
structlog==25.5.0
traitlets==5.14.3
typer==0.23.0
typing-inspection==0.4.2
typing_extensions==4.15.0
wcwidth==0.6.0
